<div class="artistsearch">
  <div class="cardsearch">
    <h1>Artist Directory</h1>
    <label>Search <span *ngIf="query"> for: {{query}}</span></label><br>
    <input [(ngModel)]="query" placeholder="Type in Search Term">
  </div> 
</div>

<ul *ngIf="query" class="artistlist cf">
  <li (click)="showArtist(item); query='';" class="artist cf" *ngFor="#item of (artists) | find:query">
    <!--Subcomponent that will be uses a custom attribute [artist] (which is received by the sub-component artist-item.component.ts) to pass into it an "item"-->
    <artist-item class="content" [artist]=item></artist-item>
  </li>
</ul>
<!--Injecting the variable artist and calling it currentArtist -->
<artist-details *ngIf="currentArtist" [artist]="currentArtist"></artist-details>